// Header

.site-header {
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  min-width: 1200px;


  .nav-list {
    margin: 0;
    @include clearfix;

    .nav-list-item {
      float: left;

      .nav-link {
        display: block;
        text-decoration: none;
      }
    }
  }

  .primary-nav {
    right: 0;
    top: 32px;
    width: 100%;
    height: 72px;
    // overflow: hidden;
    @include clearfix;
    position: absolute;
    background: $white;
    @include font-primary-nav;

    .nav-list.dropdowns {
      top: 0;
      left: 0;
      margin-left: 20px;
      position: absolute;

      .nav-list-item {
        padding: 12px 0;

        &:first-of-type .nav-link {
          border-left: none;
        }
      }

      .nav-link {
        position: relative;
        padding: 9px 20px;
        border-left: 2px solid $light-gray;
        // &:hover {
        //   color: $blue;

        //   &::before {
        //     left: -2px;
        //     right: -2px;
        //     top: -20px;
        //     content: '';
        //     height: 10px;
        //     background: $white;
        //     position: absolute;
        //     border-bottom: 1px solid $light-gray;
        //   }

        //   &::after {
        //     top: 100%;
        //     content: '';
        //     left: -2px;
        //     right: -2px;
        //     height: 10px;
        //     background: $blue;
        //     position: absolute;
        //   }
        // }
      }
    }

    .nav-list.buttons {
      top: 0;
      right: 0;
      margin-right: 40px;
      position: absolute;

      .nav-link {
        line-height: 0;
        border-left: 2px solid $light-gray;
      }

      .nav-list-item {
        padding: 10px 0;

        &.sas-lockup {
          .nav-link {
            padding: 10px 34px 10px;
          }
        }

        &.language {
          .nav-link {
            padding: 15px 19px 15px;
          }
        }
        &.search {
          .nav-link {
            padding: 15px 24px 15px;
          }
        }
      }
    }
  }

  .secondary-nav {    
    top: 0;
    right: 0;
    width: 100%;
    height: 32px;
    color: $white;
    @include smooth;
    overflow: hidden;
    @include clearfix;
    position: absolute;
    background: $charcoal;
    @include font-secondary-nav;

    .nav-list {
      top: 0;
      right: 0;
      position: absolute;
      margin-right: 54px;

      .nav-list-item {
        margin-left: 10px;
      }

      .nav-link {
        padding: 4px 20px 4px;
        &:hover {
          background: $charcoal-dark;
        }
      }
    }
  }

  .tiny-nav {
    right: 0;
    top: 32px;
    width: 72px;
    height: 216px; //(72*3)
    color: $white;
    overflow: hidden;
    position: absolute;
    background: $white;

    .nav-list {
      position: absolute;
      bottom: 0;
    }

    .nav-list-item {
      float: none;
      padding: 0 12px;

      &:first-of-type .nav-link {
        border-top: none;
      }

      .nav-link {
        border-top: 2px solid $light-gray;
      }

      &.menu {
        .nav-link {
          padding: 25px 12px;
        }
      }
      &.language {
        .nav-link {
          padding: 22px 8px;
        }
      }
      &.search {
        .nav-link {
          padding: 22px 13px;
        }
      }
    }
  }

  &.-nav-open {
    .primary-nav {
      z-index: 1;
      transition: width 0.2s 0.2s, opacity 0s 0.2s;
      width: 100%;
      opacity: 1;
      .dropdowns {
        .nav-list-item {
          transition: opacity 0.3s 0.2s;
          opacity: 1;
        }
      }
      .buttons {
        .nav-list-item {
          transition: opacity 0.3s 0.3s;
          opacity: 1;
        }
      }
    }  

    .secondary-nav {
      z-index: 1;
      transition: width 0.3s 0.3s, opacity 0.1s 0.1s;
      width: 100%;
      opacity: 1;
      .nav-list-item {
        transition: opacity 0.2s 0.6s;
        opacity: 1;
      }
    }  

    .tiny-nav {
      z-index: 0;
      opacity: 0;
      height: 72px;
      pointer-events: none;
      transition: height 0.2s 0s, opacity 0s 0.2s;
      .nav-list-item {
        transition: opacity 0.2s 0s;
        opacity: 0;
      }
    } 
  }

  &.-nav-closed {
    .primary-nav {
      z-index: 0;
      width: 72px;
      transition: width 0.2s 0.3s, opacity 0s 0.5s;
      opacity: 0;
      pointer-events: none;
      .nav-list-item {
        transition: opacity 0.3s 0s;
        opacity: 0;
      }
    }  

    .secondary-nav {
      z-index: 0;
      width: 72px;
      transition: width 0.15s 0.2s, opacity 0.4s 0.4s;
      opacity: 0;
      pointer-events: none;
      .nav-list-item {
        transition: opacity 0.2s 0s;
        opacity: 0;
      }
    }

    .tiny-nav {
      z-index: 1;
      opacity: 1;
      transition: height 0.2s 0.5s, opacity 0s 0.5s;
      height: 216px;
      .nav-list-item {
        transition: opacity 0.2s 0.6s;
        opacity: 1;
      }
    } 
  }

  .nav-list-item.has-dropdown {
    position: relative;

    &:hover {
      .dropdown {
        opacity: 1;
        pointer-events: auto;
        transition: height 0.2s 0s, opacity 0s 0s;

        .dropdown-list {
          transition: opacity 0.2s 0.1s;
          opacity: 1;
        }

        @for $i from 1 through 20 {
          &.has-#{$i}-items { 
            height: ($i * 48px) + 25px;
          }
        }
      }
    }
    &:not(:hover) {
      .dropdown {
        transition: height 0.2s 0.1s, opacity 0s 0.3s;
        opacity: 0;
        pointer-events: none;
        height: 0;

        .dropdown-list {
          transition: opacity 0.2s 0s;
          opacity: 0;
        }
      }
    }

    .dropdown {
      width: 350px;
      background: $white;
      position: absolute;
      pointer-events: none;
      top: calc(100% - 11px);
      @include font-dropdown;
      overflow: hidden;

      .dropdown-list {
        position: absolute;
        bottom: 0;
        width: 350px;
        padding: 0 25px 25px;
      }

      .dropdown-link {
        display: block;
        padding: 11px 0;
        text-decoration: none;
        border-bottom: 2px solid $light-gray;

        &:hover {
          color: $blue;
          padding-bottom: 9px;
          border-bottom: 4px solid $blue;
        }
      }
    }
  }
 

  .icon {
    fill: $charcoal;
  }

  .icon-american-flag {
    width: 30px;
    height: 22px;
  }

  .icon-search {
    width: 22px;
    height: 22px;
  }

  .icon-menu {
    width: 24px;
    height: 18px;
  }

  .icon-sas-lockup {
    width: 253px;
    height: 32px;
  }

}
