// Typography

// Fonts
$sans: Helvetica, sans-serif;
$serif: Georgia, serif;
$amp: Georgia, serif;

// Font Classes
.amp {
	font-family: $amp;
}

//sizes
$small: 0.5em;
$med: 1em;
$big: 3em;


@font-face {
    font-family: "Circular-Black";
    src:url("../fonts/lineto-circular-black.eot");
    src:url("../fonts/lineto-circular-black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Circular-Book";
    src:url("../fonts/lineto-circular-book.eot");
    src:url("../fonts/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@mixin font-primary-nav {
  font-family: "Circular-Black";
  font-size: 16px;
  letter-spacing: .02em;
  line-height: (30/16);
  text-transform: uppercase;
}

@mixin font-secondary-nav {
  font-family: "Circular-Book";
  font-size: 16px;
  letter-spacing: .001em;
  line-height: (24/16);
  text-transform: none;
}

@mixin smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// /* Complete */

// @font-face {
//     font-family: "Circular-Mediumitalic";
//     src:url("fonts/lineto-circular-mediumitalic.eot");
//     src:url("fonts/lineto-circular-mediumitalic.eot?#iefix") format("embedded-opentype"),
//         url("fonts/lineto-circular-mediumitalic.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Circular-Bold";
//     src:url("fonts/lineto-circular-bold.eot");
//     src:url("fonts/lineto-circular-bold.eot?#iefix") format("embedded-opentype"),
//         url("fonts/lineto-circular-bold.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Circular-Black";
//     src:url("fonts/lineto-circular-black.eot");
//     src:url("fonts/lineto-circular-black.eot?#iefix") format("embedded-opentype"),
//         url("fonts/lineto-circular-black.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Circular-Bolditalic";
//     src:url("fonts/lineto-circular-bolditalic.eot");
//     src:url("fonts/lineto-circular-bolditalic.eot?#iefix") format("embedded-opentype"),
//         url("fonts/lineto-circular-bolditalic.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Circular-Book";
//     src:url("fonts/lineto-circular-book.eot");
//     src:url("fonts/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
//         url("fonts/lineto-circular-book.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Circular-Medium";
//     src:url("fonts/lineto-circular-medium.eot");
//     src:url("fonts/lineto-circular-medium.eot?#iefix") format("embedded-opentype"),
//         url("fonts/lineto-circular-medium.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Circular-Blackitalic";
//     src:url("fonts/lineto-circular-blackitalic.eot");
//     src:url("fonts/lineto-circular-blackitalic.eot?#iefix") format("embedded-opentype"),
//         url("fonts/lineto-circular-blackitalic.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Circular-Bookitalic";
//     src:url("fonts/lineto-circular-bookitalic.eot");
//     src:url("fonts/lineto-circular-bookitalic.eot?#iefix") format("embedded-opentype"),
//         url("fonts/lineto-circular-bookitalic.woff") format("woff");
//     font-weight: normal;
//     font-style: normal;
// }