// Variables

// Colors
$black:           #444444;
$blue:            #3769b9;
$red:             #d23c1e;
$charcoal:        #2e2e2e;
$charcoal-dark:   #1e1e1e;
$light-gray:      #eaeaea;
$white:           #ffffff;

// Brand Swatches
// $brand-main: ;
// $brand-secondary: ;

// Breakpoints
$bpSm: 30em; // 480px
$bpMd: 43.75em; // 700px
$bpLrg: 62.5em; // 1000px
$bpHuge: 187.5em; // 3000px
